body{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}
.header-img{
    position: absolute;
    top: -20vh;
    z-index: -1;
    opacity: 0.5;


}
.header-img img {
    width: 100%;
}
.nav{
    display: flex;
    margin:1vh 10vw ;
    list-style: none;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;

}
.nav-br{
    display: flex;

}
.nav-br li {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding-left: 30px;
    list-style: none;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 7vh;
    align-items: center;

}
.logo{
    width:30vw ;
    color: #a78f36;
    font-size: 5rem;

}
.head h3{
    font-size:2.1em ;
    color: black;
    font-weight:lighter ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.search{
    display: flex;
    width: 40vw;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: white;
    padding: 5px 0;

}
.search input{
    outline: none;
    border: none;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 15px;
}
.search p {
    color: black;
    border-right: 1px solid black;
    font-size: 15px;
    padding-right: 10px;
    margin-left: 6px;
}
.search i {
    margin-left: 10px;
    padding-left: 10px;
}