
/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+DK+Loopet&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&family=Playwrite+DK+Loopet&family=Zeyada&display=swap');
body{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    width: 100%;
    height: 70vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
    margin-bottom: 10vh;
}
.header-img{
    position: absolute;
    top: 10vh;
    z-index: -1;
    opacity: 0.2;


}
.header-img img {
    width: 100%;
}
.nav{
    display: flex;
    margin:1vh 10vw ;
    list-style: none;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;

}
.lg img {
    width: 16%;
}
.nav-br{
    display: flex;

}
.nav-br li {
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding-left: 30px;
    list-style: none;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3vh;
    align-items: center;

}
.logo{
    width:30vw ;
    color: #a78f36;
    font-size: 5rem;

}

.lg-centre{
    font-family: "Zeyada", cursive;
  font-weight: 1000;
    /* font-family: "Great Vibes", cursive; */
    /* font-family: "Playwrite AT", cursive; */
    font-optical-sizing: auto;
    font-size: 4rem;
    color: red;
}
.head img {
  height: 25vh;   
}
.head h3{
    font-size:2.5em ;
    color: black;
    font-weight:lighter ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.search{
    display: flex;
    width: 30vw;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: white;
    padding: 5px 0;

}
.search input{
    outline: none;
    border: none;
    width: 50%;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 15px;
}
.search p {
    color: black;
    border-right: 1px solid black;
    font-size: 12px;
    padding-right: 10px;
    margin-left: 6px;
}
.search i {
    margin-left: 10px;
    padding-left: 10px;
}
.sec-1{
    display: flex;
    justify-content: center;
    margin-bottom:13vh;
}
.box{
    position: relative;
    width: 300px;
    margin:3px 25px;
    overflow: hidden;
    border-radius: 15px;
    background-color: rgb(243, 240, 240);
    box-shadow: 0 1px 2px gray ;
}
.box img{
    width: 100%;
    border-radius: 15px;
    z-index:-1 ;
    border: 1px solid gray;
}
.white{
    position: absolute;
    bottom: 3px;
    align-items: center;
    border-radius: 0 0 15px 15px;
    width: 100%;
    height: 25%;
    z-index: 2;
    background-color: white;
}
.white p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    color: rgb(56 , 56 , 56);
    letter-spacing: 0.7px;
    
}
.white p a {
  text-decoration: none;
    color: black;
}
section.app {
    margin: 5rem 9%;
    border-radius: 0.5rem;
    background-color: var(--yellow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
    padding: 22rem 0;
  }
  
  section.app .image {
    position: absolute;
    left: 1%;
  }
  
  section.app .image img {
    width: 100%;
  }
  
  section.app .content {
    position: absolute;
    right: 5%;
    width: 45%;
  }
  
  section.app .content h3 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  
  section.app .content p {
    margin-bottom: 3rem;
  }
  
  section.app .content .links img {
    /* margin-right: 3rem; */
    height: 15vh;
  }
  @media (max-width: 1200px) {
  section.app .image {
    max-width: 20rem;
  }
}

@media (max-width: 768px) {
  section.app .image {
    display: none;
  }

  section.app {
    grid-template-columns: 1fr;
    padding: 20rem 0;
    margin: 5rem 9%;
  }

  section.app .content {
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
  }

  section.app .content h3 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
  }

  section.app .content .links img {
    width: rem;
    margin-right: 0;
  }
}
